<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Curd</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center alert alert-secondary">Function Based View ModelForm CURD Projects</h2>

    {% block content %}{% endblock %}

</div>


{% comment %} javascript {% endcomment %}
<script src="{% static 'enroll/js/jquery.js' %}"></script>
<script src="{% static 'enroll/js/popper.js' %}"></script>
<script src="{% static 'enroll/js/bootstrap.js' %}"></script>

</body>
</html>