{%extends 'blog/basic.html'%}
{% load static %}

{%block body%}


{% comment %} <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'blog/can.jpg'  %}" style="height: 300px; width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h4 style="color: red;">Mega Events</h4>
                        <p style="color: green;">CAN info tech : Brikuti Mandap </p>
                        <a class="btn btn-danger">View</a>
                    </div>
                </div>
            </div>

</div> {% endcomment %}

<div class="container mt-3">
    <div class="row my-4">

        {% for post in posts %}
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary"> {{ post.title }} </strong>
                        <h3 class="mb-0"> {{ post.head }} </h3>
                        <div class="mb-1 text-muted"> {{ post.publish_date }}</div>
                        <p class="card-text mb-auto"> {{ post.content|slice:"0:75" }} </p>
                        <a href="blogPost/{{post.post_id}}" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="/media/{{ post.thumbnail }}" alt="" class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                             preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                            <title>Placeholder</title>
                        </img>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %} <!-- if loopcounter is divisile by 2 just slpit the row-->
                </div>
                <div class="row my-2">
            {% endif %}
        {% endfor %}

    </div>
</div>
{%endblock%}
