{% extends 'events_app/base.html' %}
{% load static %}

{% block title %} About {% endblock title %}

{% block content %}

    <div class="col-sm-10">

        <h3 class="my-5"> About Page </h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, incidunt? Animi recusandae ea quam, voluptatem explicabo nihil quidem vitae sunt porro labore accusamus illum facere! Repellat consectetur repudiandae fugiat amet?</p>

        <img src="{% static 'events_app/images/logo1.jpg'  %}" style="height: 200px; width: 505px;" alt="">




    </div>

{% endblock content %}